<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script src="https://kit.fontawesome.com/a44b4d40da.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class = "wrapper">
        <main class = "section">
            <h1 class = "heading">TODO App</h1>

            <form action="/create-task" method="post" autocomplete="off">
                <div class = 'field'>
                    <div id = "description" class="field-section">
                        <div class = "field-name">Description</div>
                        <input type="text" name="description" placeholder="What do you need to do?" required>
                    </div>
                </div>
                
                <div id = "other-details" class = "field">
                    <div id = "category" class="field-section">
                        <div class = "field-name">Category</div>
                        <select name="category">
                            <option disabled selected> Select your option </option>
                            <% for (let i of categoryOption) { %>
                                <option value= "<%= i %>"> <%= i %> </option>
                            <% } %>
                        </select> 
                    </div>
                    <div id="date" class="field-section">
                        <div class="field-name">Due Date</div>
                        <input type="date" name="date">
                    </div>
                </div>
                
                <div id = "add-btn" class = "field-section">         
                    <button type="submit" class="btn"><i class="fas fa-plus"></i>ADD TASK</button>
                </div>
            </form>
            <form action="/delete-task" method="post"> 
                <div class="field">
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                    <label for="vehicle1">I have a bike</label><br>
                </div>
            </form>
        </main>
    </div>
</body>
</html>