<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class = "wrapper">
        <main class = "section">
            <h1 class = "heading">TODO App</h1>

            <form action="/create-task" method="post">
                <div class = 'field'>
                    <div id = "description" class="field-section">
                        <div class = "field-name">Description</div>
                        <input type="text" name="description" placeholder="What do you need to do?" required>
                    </div>
                </div>
                
                <div id = "other-details" class = "field">
                    <div id = "category" class="field-section">
                        <div class = "field-name">Category</div>
                        <select name="category">
                            <option value="" disabled selected> Select your option </option>
                            <% for (let i of categoryOption) { %>
                                <option value= "<%= i %>"> <%= i %> </option>
                            <% } %>
                        </select> 
                    </div>
                    <div id="date" class="field-section">
                        <div class="field-name">Due Date</div>
                        <input type="date" name="date">
                    </div>
                </div>
                
                <button type="submit" class="btn">ADD TASK</button>
            </form>
        </main>
    </div>
</body>
</html>