:root {
    --primary-border-color :rgba(83, 92, 87, 0.13);
    --primary-background-color: #efefef;
    --secondary-background-color: #5a5a5a;
}

::placeholder {
    color:rgba(100, 100, 100, 0.349);
}

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "system-ui";
}

.wrapper {
    background-color: var(--secondary-background-color);
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
}

.wrapper .section{
    background-color: var(--primary-background-color);
    width: 60%;
    height: min-content;
    padding: 1rem 0;
}

@media screen and (max-width: 760px) {
    .wrapper .section {
        width: 100%;
    }
}

.wrapper .section > .heading {
    text-align: center;
}

.wrapper .section form .field {
    width: 100%;

    border-top: 1px solid var(--primary-border-color);
    border-bottom: 1px solid var(--primary-border-color);
}

.field-section {
    padding-top: 0.7rem;
    padding-bottom: 1.4rem;
    padding-left: 1rem;
    flex-grow: 1;
}

.field-name {
    text-transform: uppercase;
    font-size: 0.8rem;
}

.field-section input, .field-section select{
    border: none;
    background-color: transparent;
}

.field-section input:focus, .field-section select:focus{
    outline: none;
}


#other-details {
    display: flex;
    border-top: none;
}

#description input {
    width: -webkit-fill-available;
}

#date {
    border-left: 1px solid var(--primary-border-color);
}


#add-btn {
    position: relative;
    height: 5rem;
}

.btn {
    padding: 10px;
    border: 0;
    font-size: 1.2rem;
    color: var(--primary-background-color);
    width: 180px;
    border-radius: 5px;
}

.btn i{
    margin-right: 5px;
}

.btn span {
    display: inline-block;
    margin: 0 auto;
}


#add-btn .btn {
    background-color: rgb(211, 58, 58);
    
    position: absolute;
    left: 48%;
    transform: translateX(-180px);
}

#add-btn .btn:hover {
    background-color: rgb(190, 48, 48);
}

#delete-form .field .task-list {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}

#delete-form .field .task-list input[type="checkbox"] {
    margin-right: 10px;
}

#delete-form button {
    position: absolute;
    left: 50.5%;
    top: 13.5rem;

    background-color: slategray;
}

#delete-form button:hover {
    background-color: rgb(85, 97, 109);
}
